{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Pet Adoption Center</title>
</head>
<body>
    <h1>Welcome to the Pet Adoption Centre</h1>
    <p>Find your perfect pet companion today!</p>
    <form method="POST">
        {% csrf_token %}
        {{pform|crispy}}
        <button type="submit">Submit</button>
    </form>

    <div>
        
        {% for pets in allp %}
        <ul>
            <li>{{pets.name}}</li>
        </ul>
        {% endfor %}
        
    </div>
</body>
</html>